doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    //meta(name='viewport', content='width=640px, user-scalable=yes, target-densitydpi=device-dpi')
    meta(name='format-detection', content='telephone=no')
    style(type='text/css').
      body {
      margin: 0;
      padding: 0;
      -webkit-font-smoothing:antialiased;
      -webkit-text-size-adjust:none;
      background-color: #ffffff;
      font-family: "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      color: #333;
      -webkit-text-size-adjust: 100%;
      }
      body, td {
      font-size: 14px;
      font-style: normal;
      line-height: 1.5;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      color: #333;
      }
      td {
      word-break:break-all;
      }
      body a {
      color:#1a3181;
      }
      img {
      vertical-align: bottom;
      }
  body
    - var futureNewfunction = 'text-align:center !important; padding:30px 10px 20px; background:#fff; margin:0 5px 30px; border:1px solid #DDDDDD;';
    - var futureNewfunctionDay = 'color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; background:#B3B3B3; display:inline-block; padding:3px 14px; border-radius:3px;';
    - var futureNewfunctionDayText = 'color: #fff; font-size: 10.5px;';
    - var futureNewfunctionName = 'line-height:1.5;  margin:0 0 5px;';
    - var futureNewfunctionNameSpan = 'color:#262626; font-size:19.5px;';
    - var futureNewfunctionSetsumei = '#b3b3b3; line-height:1.5 !important; margin:0 0 10px;';
    - var futureNewfunctionSetsumeiSpan = 'color: #b3b3b3; font-size: 16px;';
    div(style='margin:0 auto 30px; text-align:center; width:100%;  max-width:500px;')
      div(style='width:100%;')
        img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/03/tuika.jpg', style='width:100%;')
      div(style='margin:0 15px 0px;text-align:left !important;')
        br
        p(style='line-height: 1.5; color: #4d4d4d; text-align:left !important; font-size:16px !important ')
          font(color='#262626') 
            |みなさまこんにちは！LiME運営チームです☆
            br
            |いつもLiMEをご利用いただきありがとうございます。
            br
            br
            |今回は、
            span(style="font-weight:bold;")|「今後追加予定の新しい機能」
            |と、
            span(style="font-weight:bold;")|「最近追加された新しい機能」
            |のご案内です！
            br
            |皆様にご意見頂いていた機能もどんどん追加しているので、ぜひご確認くださいませ！

        p(style='line-height: 1.5; color: #4d4d4d; text-align:center !important; font-size:19.5px; font-weight:bold; letter-spacing:2px; margin:75px 0 0;')
          font(color='#262626') 追加予定の新機能の一覧
        hr(style='width:50px; height:2px; display:block; background:#15BFAB; margin:20px auto 10px; border-width:0;', noshade='noshade')
        br
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年3月下旬にリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |お客様への
                br
                |一斉メッセージ送信機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |連携しているお客様全員に
                br
                |個別メッセージを
                br
                |送信できる機能です。
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年3月下旬にリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |おすすめ・定番・クーポンなどの
                br
                |メニュー作成機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |おすすめメニューや写真を掲載した
                br
                |予約メニューの作成が
                br
                |可能になります。
  
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年4月下旬にリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |スタッフ全員共通の
                br
                |予約受付メニューを
                br
                |設定できる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |オーナーが登録したサロンメニューを
                br
                |スタッフ全員が予約受付メニューとして
                br
                |設定できる機能です
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年4月下旬にリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |プロフィールページにYouTubeを
                br
                |埋め込みできる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |プロフィールページに
                br
                |ご自身の魅力やサービスを
                br
                |伝えるYouTube動画を
                br
                |掲載できる機能です
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年4月下旬にリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |来店の前日/当日に
                br
                |お客様が来店リマインド通知を
                br
                |受け取ることができる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |予約忘れ防止に繋がる
                br
                |リマインド通知が
                br
                |お客様のRiZMに届きます。
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年5月下旬にリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |お客様が
                br
                |カウンセリングシートを
                br
                |記入することができる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |カウンセリングシートに
                br
                |記入していただくことで
                br
                |お客様の要望や悩みを
                br
                |深く知ることができます。

        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年5月下旬にリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |お客様が過去のヘア写真を
                br
                |一覧で確認できる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |美容師さんが共有した
                br
                |ヘア写真を振り返ることができます。
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年5月下旬にリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |レビューに返信できる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |お客様から頂いたレビューに
                br
                |対して返信できる機能です
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年5月下旬にリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |プロフィールページに
                br
                |クーポンメニューを
                br
                |掲載できる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |LiMEで作成したクーポンメニューが
                br
                |プロフィールページにも掲載されます
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年6月末でリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |LiMEsalonで
                br
                |顧客登録せずに
                br
                |予約を作成できる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |新規のお客様から
                br
                |電話などで予約が入った際に
                br
                |顧客情報を入力せずに
                br
                |予約が作れるようになります。
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年6月末でリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |お客様が指名なしで
                br
                |予約できる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |お客様がお店単位で予約するときに
                br
                |指名なしで予約が
                br
                |できるようになる機能です。
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年6月以降でリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |LiMEsalonで
                br
                |ディレクター権限の設定が
                br
                |できる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |オーナーの権限を
                br
                |ディレクターにも与えられる機能です。
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年6月以降でリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |LiMEsalonで
                br
                |多店舗管理できる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
              |複数店舗でカルテの共有や
              br
              |予約表の確認ができる機能です。
              br
              |複数店舗に所属することもできます。
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年6月以降でリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |サロン用の予約受付
                br
                |URL発行機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
              |サロン単位で予約を受け付けることが
              br
              |できるURLを発行できる機能です
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年6月以降でリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |お客様がサロン単位で
                br
                |フォローできる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |お客様がサロン単位で
                br
                |フォローするとスタッフ全員を
                br
                |一括でフォローできます
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年6月以降でリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |メッセージで
                br
                |テンプレ(定型文)を
                br
                |作成できる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |お客様とのメッセージでよく使う挨拶文や案内文を呼び出しできる機能です
        // 追加予定のブロック
        div(style=futureNewfunction)
          div(style=futureNewfunctionDay)
            span(style=futureNewfunctionDayText) 
              |2020年6月以降でリリース予定
          p(style=futureNewfunctionName)
            strong
              span(style=futureNewfunctionNameSpan)
                |LiMEsalonでカルテの詳細を
                br
                |閲覧できる機能
          p(style=futureNewfunctionSetsumei)
            span(style=futureNewfunctionSetsumeiSpan) 
                |スタッフ全員のカルテを
                br
                |LiMEsalonで確認できる機能です
      p(style='line-height: 1.5; color: #4d4d4d; text-align:center !important; font-size:20px; font-weight:bold; letter-spacing:2px; margin:90px 0 0;')
          font(color='#262626') 追加された新機能
      hr(style='width:50px; height:2px; display:block; background:#15BFAB; margin:20px auto 10px; border-width:0;', noshade='noshade')
      br
      div
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/27195')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/03/thumbnail-register-already.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 「会計済み」の
                br
                | 売上レポート(β版)が
                br
                | 見れるようになりました！
          a(href='https://limehair.jp/archives/27195', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/27171')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/03/thumbnail-visit-cycle-second.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 来店周期のお知らせに
                br
                | 前回の施術情報が
                br
                | 表示されるようになりました！
          a(href='https://limehair.jp/archives/27171', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/27158')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/02/thumbnail-csv-download.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | β版レポートで
                br
                | CSVダウンロード
                br
                | できるようになりました！
          a(href='https://limehair.jp/archives/27158', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/27005')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/02/thumbnail-visit-cycle-average.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | お客様の平均来店周期毎に
                br
                | 通知を受け取れるように
                br
                | なりました！
          a(href='https://limehair.jp/archives/27005', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/26871')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/02/thumbnail-line.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | LINE(ライン)との
                br
                | 予約連携オプション開始！
                br
                | 限定15店舗まで(有料)
          a(href='https://limehair.jp/archives/26871', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/26855')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/02/thumbnail-long-text-insta.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 長文でお客様のレビューを
                br
                | Instagramへシェア
                br
                | できるようになりました！
          a(href='https://limehair.jp/archives/26855', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/26815')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/01/thumbnail-owner-unvisible.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | LiMEsalonでオーナーや
                br
                | フリーのお客様の表示・非表示が
                br
                | 設定できるようになりました！
          a(href='https://limehair.jp/archives/26815', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/26749')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/01/thumnail-register-from-schedule.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 予約表から
                br
                | 会計できるようになりました！
          a(href='https://limehair.jp/archives/26749', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/26666')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/01/th-2.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | レポート(β版)の来店履歴に
                br
                | キャンセル・削除されたお客様が
                br
                | 表示されるようになりました！
          a(href='https://limehair.jp/archives/26666', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/26634')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/01/thumnail-reserve-on-limesalon.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | LiMEsalonで
                br
                | 予約確定ができるように
                br
                | なりました！
          a(href='https://limehair.jp/archives/26634', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/26546')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2019/12/thumanail-reseve-non-business-hours.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 営業時間外のみの
                br
                | 予約相談が受付できるように
                br
                | なりました！
          a(href='https://limehair.jp/archives/26546', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/26506')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2019/12/thumnail.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | Instagramの写真を
                br
                | プロフィールページに表示
                br
                | できるようになりました！
          a(href='https://limehair.jp/archives/26506', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/26365')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2019/12/thumnail-register-of-lime.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | [β版]簡単なレジ会計機能が
                br
                | できました！
          a(href='https://limehair.jp/archives/26365', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/26308')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2019/12/th-1.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | レポート[β版]で
                br
                | 来店履歴が一覧で
                br
                | 見れるようになりました！
          a(href='https://limehair.jp/archives/26308', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/26286')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2019/12/th-stekina.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 知り合いの美容師さんに
                br
                | ステキナ紹介文を
                br
                | 送れるようになりました!
          a(href='https://limehair.jp/archives/26286', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='https://limehair.jp/archives/26149')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2019/12/th-191115.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | フォロワー数・ステキ数が
                br
                | プロフィールに表示
                br
                | されるようになりました！
          a(href='https://limehair.jp/archives/26149', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/26091')
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2019/12/th-191111.png', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 期間指定で過去の
                br
                | 売上レポート(β版)を
                br
                | 確認できるようになりました！
          a(href='http://limehair.jp/archives/26091', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/25761')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/10/web_thumanil_message-by-client.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | お客様がいつでも気軽に
                br
                | 相談メッセージを
                br
                | 送れる機能
          a(href='http://limehair.jp/archives/25761', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/25642')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/10/th-tutorial.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 3分で丸わかり!
                br
                | ネット予約の使い方を
                br
                | 体験できる機能
          a(href='http://limehair.jp/archives/25642', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/25370')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/10/th_report_beta.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | [β版]過去の売上レポートを
                br
                | 確認できるようになりました！
          a(href='http://limehair.jp/archives/25370', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/25135')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/09/th-alert.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 設定した席数を
                br
                | 超過した際にアラートを
                br
                | 出せる機能
          a(href='http://limehair.jp/archives/25135', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/24982')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/09/web_thumanil_visit_cycle.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 来店後に設定した
                br
                | 日付を過ぎると通知を
                br
                | 受け取れる機能
          a(href='http://limehair.jp/archives/24982', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/24810')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/09/thumnail.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 予約表から
                br
                | カルテを確認する方法が
                br
                | より便利になる機能
          a(href='http://limehair.jp/archives/24810', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/24766')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/09/web_thumanil_karte_template.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | カルテの
                br
                | テンプレート(定型文)を
                br
                | 作成できる機能
          a(href='http://limehair.jp/archives/24766', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/24732')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/08/th-voice-input.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 自分の音声でカルテにメモ
                br
                | できる機能
          a(href='http://limehair.jp/archives/24732', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/24642')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/09/th_resever-site02.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 外部予約サイト連携を
                br
                | 自分でかんたんに
                br
                | 設定できるようになりました！
          a(href='http://limehair.jp/archives/24642', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/24540')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/08/web_thumanil_csv.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 他社サービスから顧客データを
                br
                | 移行できる機能
          a(href='http://limehair.jp/archives/24540', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/24462')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/08/web_thumanil_message_to_karte.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 予約受付時に時間外の
                br
                | 予約相談かどうかを
                br
                | 確認できる機能
          a(href='http://limehair.jp/archives/24462', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        // 追加予定のブロック
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/24284')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/07/th_message_to_karte.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 予約メッセージ画面から
                br
                | カルテ一覧へ移動できる機能
          a(href='http://limehair.jp/archives/24284', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/24214')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/07/th_insta.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | お客様のレビューを
                br
                | Instagramにシェアできる機能
          a(href='http://limehair.jp/archives/24214', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/24162')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/07/th_ps_color.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | プライベート予定の
                br
                | カラーを変更できる機能
          a(href='http://limehair.jp/archives/24162', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/24143')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/07/th_ps_reccuring.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | プライベート予定の
                br
                | 繰り返し作成ができる機能
          a(href='http://limehair.jp/archives/24143', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/24123')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/07/th-ps_select.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | サロンに表示される
                br
                | プライベート予定の表示/非表示が
                br
                | 選べる機能
          a(href='http://limehair.jp/archives/24123', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/23975')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/07/th-everytime_message.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | メッセージをいつでも
                br
                | お客様に送れる機能
          a(href='http://limehair.jp/archives/23975', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
        div(style='text-align:center !important; padding:0px 0px 20px; background:#fff; margin:0 20px 30px; border:1px solid #DDDDDD ')
          div(style='margin:0 auto 20px;')
            a(href='http://limehair.jp/archives/23833')
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/07/th-memo_somepeople.jpg', width='100%')
          p(style='color: #b3b3b3; line-height:1.5 !important; margin:0 0 10px; ')
            strong
              span(style='color:#262626; font-size:19.5px;')
                | 自分以外のスタッフが担当した
                br
                | お客様のカルテにも
                br
                | メモが残せる機能
          a(href='http://limehair.jp/archives/23833', style='padding:10px; width:240px; color:#fff; text-decoration:none !important; font-size:16px; background:#15BFAB; display:block; border-radius:10px; margin:0 auto 0px;') 詳しくはこちら
      
      div(style='margin:0 15px 0px;')
            p(style='line-height: 1.5; color: #4d4d4d; text-align:left !important; font-size:16px !important ')
                br
                br
                font(color='#262626')
                    | これ以外に「こんな機能があったら嬉しい！」というものがあれば、ぜひご意見くださいませ。
                    br
                    | 少しでもご期待に応えられるよう、LiMEチーム一同全力で頑張ってまいります！
                    br
                    br
                    |今後ともLiMEをよろしくお願いいたします！
                    br
      div(style='margin:90px 20px 90px;')
            p(style='text-align:center; margin:0 auto;') 
              img(src='http://limehair.jp/cms/wp-content/uploads/2019/11/cv.jpg' width='96%')
            div(style='margin:0 auto 10px;')
                a(href='https://lime.onelink.me/UUsv/newfunctionmail', target='_blank')
                     img(src='http://limehair.jp/cms/wp-content/uploads/2019/11/btn_ios.jpg', style='width:100%; margin:0 auto 10px; text-align:center;')
            div
                a(href='https://play.google.com/store/apps/details?id=jp.limehair.lime', target='_blank')
                     img(src='http://limehair.jp/cms/wp-content/uploads/2019/11/btn_android.jpg', style='width:100%; margin:0 auto 10px; text-align:center;')

